/* Estilos básicos para la página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d08b02;
}
h1 {
    color: #aa3b3b;
}
.container {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(72, 96, 47, 0.1);
    margin-top: 20px;
}
button, input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}
